/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #d28d44;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 100px;
  margin-top: 5px;
}

.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}

.navbar-items a:hover {
  color: #ccc;
}

/* main banner */
.main-banner {
  background-image: url(../front-end-developer.png);
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}

.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
  font-size: 60px;
}

.main-banner p {
  font-size: 32px;
}

.skills {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
}
/* services */
.services-container img {
  width: 120px;
  margin-bottom: 15px;
}

.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.services-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.me {
  background-color: #d28d44;
}
.about-me h2 {
  margin-left: 15px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.me {
  background-color: #03297b;
  height: 600px;
}

.about-me {
  display: flex;
}

.box-img,
.box-text {
  flex: 1 1 200px;
}

.box-img img {
  margin-top: 50px;
  width: 400px;
  margin-left: 50px;
}

.box-text h3 {
  text-align: center;
  color: #d28d44;
  font-size: 36px;
  margin-top: 35px;
  margin-bottom: 5px;
}

.box-text p {
  text-align: center;
  font-size: 18px;
  height: 70px;
  line-height: 70px;
}

.container-business {
  display: flex;
  text-align: center;
  height: 350px;
}

.business-box,
.div-wa {
  flex: 1 1 200px;
}

.business-box h2 {
  margin-top: 20px;
  font-size: 40px;
  padding-left: 18px;
  font-weight: 900;
  text-align: center;
}

.business-box span {
  color: red;
}

.business-box p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 22px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.div-wa img {
  width: 120px;
  margin-top: 120px;
  transition: 0.4s;
  opacity: 0.7;
}

.div-wa img:hover {
  opacity: 1;
  padding: 3px;
}

.div-wa a {
  text-decoration: none;
  font-size: 30px;
  opacity: 0.8;
  cursor: pointer;
}

.fale-comigo:hover {
  color: green;
  transition: 0.4s;
}

.social {
  margin-top: 1rem;
}

.social h2 {
  margin-left: 30px;
  padding: 5px;
}

.social a {
  text-decoration: none;
  color: #333;
  margin-top: 1rem;
  margin-left: 2.5rem;
  font-size: 20px;
  opacity: 0.9;
  font-weight: 600;
}
.social a:hover {
  color: #03297b;
  text-decoration: underline;
}

footer {
  height: 70px;
}

footer p {
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  text-align: center;
}

/* responsividade */

/* Tablet */
@media (max-width: 768px) {
  .box-img img {
    margin-top: 25px;
    width: 350px;
    margin-left: 25px;
  }
  .box-text h3 {
    margin-top: 45px;
    font-size: 28px;
  }
  .box-text p {
    text-align: center;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
  }
  .container-business {
    display: flex;
    flex-direction: column;
  }
  .business-box h2 {
    font-size: 33px;
  }
  .business-box p {
    font-size: 25px;
  }

  .div-wa img {
    margin-top: 4rem;
  }

  .social {
    margin-top: 6rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  .navbar-container img{
    width: 55px;
    margin-top: 28px;
  }
  .navbar-items a {
    font-size: 10px;
  }
  .main-banner h1 {
  font-size: 30px;
}

.main-banner p {
  font-size: 15px;
}
.skills {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}
.services-container li {
  margin: 0;
  padding: 0px;
}
.services-container img {
  margin-top: 0px;
  width: 70px;
  margin-bottom: 3px;
}
.services-container h3 {
  font-size: 12px;
}
.about-me {  
  flex-direction: column;
}
.box-img img {
  width: 220px;
  margin-left: 100px;
}
.business-box h2 {
    font-size: 22px;
  }
  .business-box p {
    font-size: 15px;
  }
.div-wa img {
  width: 70px;
}
.div-wa h3 {
  font-size: 20px;
  padding-bottom: 10px;
}
.social {
  margin-top: auto;
  
}
.social h2 {
  font-size: 20px;
}
.social a {
  font-size: 15px;
}
footer {
  height: 40px;
}
footer p {
  height: 40px;
  line-height: 40px;
  font-size: 10px;
}
}
